.explore {
  background-image: url(../../assets/Frame146.png);
  padding: 5.1875em 7.75em;
}
.explore_header {
  border: 1px solid #0f5e36;
  padding: 0.625em 2.4375em;
  border-radius: 20px;
  width: max-content;
  color: #0f5e36;
}
.explore_body {
  display: flex;
  margin-top: 1.1875em;
}
.explore_body_left {
  width: 50%;
}
.explore_body_left > h3 {
  font-weight: 700;
}
.explore_body_left > p {
  margin: 1.7em 0em;
}
.explore_body_right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
}
.explore_btn {
  background-color: #0f5e36;
  padding: 0.625em 1em;
  border-radius: 0.25em;
  border: none;
  color: white;
}
.difference {
  padding: 5.1875em 7.75em;
}
.difference_top {
  display: flex;
  margin-top: 4em;
  justify-content: center;
}
.difference_top_header {
  border: 1px solid #0f5e36;
  width: max-content;
  border-radius: 1.25em;
  padding: 0.625em 2.4375em;
}
.difference_top_header span:nth-child(2) {
  font-weight: 600;
  color: #0f5e36;
}
.difference_top_header span:nth-child(3) {
  color: #29ad63;
}
.difference_top_header span:nth-child(4) {
  color: #b4b4b4;
}

.difference_bottom {
  background-image: url(../../assets/Frame146_White.png);
}
.difference_bottom_header {
  display: flex;
  justify-content: center;
  padding: 1.8125em 0em;
}
#users {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5625em;
}
#users > img {
  width: 60%;
  height: auto;
}
.difference_bottom_info {
  display: flex;
  gap: 1.9em;
}
.difference_info {
  display: flex;
  flex-direction: column;
  width: max-content;
  align-items: center;
}
.difference_info > h3 {
  color: #0f5e36;
}
@media only screen and (max-width: 1000px) {
  .explore_body {
    display: flex;
    flex-direction: column;
  }
  .explore_body > div {
    width: 100%;
  }
}
