.whyFreshHire__container {
  padding-block: 3rem;
  background: #fbfcfb;
  overflow: hidden;
}

.whyFreshHire {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  color: #0f5e36;
  justify-content: space-between;
  position: relative;
}
#whyFreshHire__title {
  color: #29ad63;
}

.whyFreshHire__top {
  text-align: center;
  color: #0f5e36;
}

.whyFreshHire__left {
  padding: 2.5rem;
  padding-right: 0;
  background: #edf9f3;
  width: 430px;
  height: 480px;
  display: flex;
  align-items: center;
}

.whyFreshHire__left__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.whyFreshHire__left__content > p {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.whyFreshHire__title {
  font-weight: 600;
  padding: 8px 1.5rem;
  font-size: 1rem;
  color: #0f5e36;
  display: inline-block;
  border: 1px solid #0f5e36;
  border-radius: 8px;
  margin: 1rem 0;
}

.whyFreshHire__right__content h4 {
  width: 300px;
  color: white;
  font-size: 2.5rem;
}

.whyFreshHire__right__content__flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  margin: 1.5rem 0;
}

.whyFreshHire__right {
  padding: 2.5rem;
  background: #0f5e36;
  width: 430px;
  height: 480px;
  display: flex;
  align-items: center;
}

.whyFreshHire__female__illustration {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 860px) {
  .whyFreshHire__female__illustration {
    z-index: -10;
  }

  .whyFreshHire {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .whyFreshHire__left,
  .whyFreshHire__right {
    width: 100vw;
    display: flex;
    place-content: center;
    padding: 6%;
    max-width: 90%;
    margin: 0 auto;
  }

  .whyFreshHire__left__content > p {
    gap: 2rem;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .whyFreshHire__left,
  .whyFreshHire__right {
    max-width: 100%;
  }

  .whyFreshHire {
    gap: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .whyFreshHire__female__illustration {
    animation: float infinite 3s ease-in-out;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}
