.companies {
    padding-block: 3rem;
    padding-inline: 4%;
    text-align: center;
    background: white;
    color: #0f5e36;
}

.companies__container {
    max-width: 1150px;
    margin: 0 auto;

}

.companies__logos {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
