.jobBoardcard {
  /* max-width: 575px; */
  border: 1px solid #0f5e36;
  background-color: white;
  font-family: "Clash Grotesk", sans-serif;
  border-radius: 8px;
}

.jobBoardcard__tag {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.jobBoardcard__arrow {
  font-size: 1.5rem;
  margin-left: auto;
}

.jobBoardcard__top {
  padding: 10px 1.2rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.jobBoardcard__middle {
  padding: 10px 1.2rem;
  border-bottom: 1px solid gray;
}

.jobBoardcard__bottom {
  padding: 10px 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
