.jobBoardcard {
  /* max-width: 575px; */
  border: 1px solid #0f5e36;
  background-color: white;
  font-family: "Clash Grotesk", sans-serif;
  border-radius: 8px;
  box-shadow: 4px 3px 1px 1px rgba(15,94,54,0.88);
-webkit-box-shadow: 4px 3px 1px 1px rgba(15,94,54,0.88);
-moz-box-shadow: 4px 3px 1px 1px rgba(15,94,54,0.88);
}

.jobBoardcard__tag {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.jobBoardcard__arrow {
  font-size: 1.5rem;
  margin-left: auto;
}

.jobBoardcard__top {
  padding: 10px 1.2rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.jobBoardcard__middle {
  padding: 10px 1.2rem;
  border-bottom: 1px solid gray;
}

.jobBoardcard__bottom {
  padding: 10px 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jobBoardcard__bottom__location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.jobBoardcard__bottom__location > img {
  margin-top: -4px;
}
