.hero {
  /* padding: 5rem 1rem; */
  background: linear-gradient(134.97deg, #a7ecc3 -15.9%, #f6f3f7 84.6%);
  height: 688px;
  display: flex;
  padding-inline: 4%;
  /* filter: blur(100px); */
}

.hero__container {
  max-width: 1150px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: 2rem;
  align-items: center;
}

.hero__left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero__left h1 {
  color: #0f5e36;
  font-size: 3rem;
}

.hero__left__postjob,
.hero__left__bottom {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hero__left__postjob button {
  padding: 8px 1.5rem;
  background: #0f5e36;
  margin-top: 1rem;
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}

.hero__left__postjob button:hover {
  color: #0f5e36;
  background: white;
  border: 1px solid #0f5e36;
}

.hero__left__postjob p {
  color: #0f5e36;
  margin-bottom: -0.75rem;
  text-decoration: underline;
}

.hero__right {
  text-align: right;

}

.hero__right img{
  width: 100%;
}

.hero__left__bottom > div {
  display: flex;
  gap: 4px;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .hero {
    padding-block: 4rem;
  }
  .hero__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }

  .hero__right{
    display: flex;
    place-content: center;
  }

  .hero__right img{
    width: 400px;
  }

  .hero__left h1 {
    max-width: 700px;
    margin: 0 auto;
    color: #0f5e36;
    font-size: 2.5rem;
  }

  .hero__left {
    gap: 1rem;
  }

  .hero__left__postjob, .hero__left__bottom {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}



@media screen and (max-width: 700px) {
  .hero__right {
    display: none;
  }

  .hero__left {
    margin-top: 20%;
  }

  .hero {
    height: 588px;
    background: #a7ecc3e5;
  }

}