.nav_Bar {
  font-family: "Clash Grotesk", sans-serif;
  font-weight: 600;
  display: grid;
  grid-template-columns: 0.7fr 1.2fr 0.3fr;
  align-items: center;
  margin: 0.7em 0em;
}
.logo {
  display: flex;
  margin-left: 25%;
  margin-right: 75%;
}
.nav_Links {
  display: flex;
  gap: 10%;
}
.nav_Links > * {
  text-decoration: none;
  color: black;
  white-space: nowrap;
}
.signup_area {
  padding-right: 30%;

  display: flex;
  gap: 1em;
}
.signup_area > * {
  font-family: "Clash Grotesk", sans-serif;
  padding: 2% 4%;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: 1px solid #0f5e36;

  max-height: min-content;
}
.signup_area button:nth-child(1) {
  min-width: 4.875em;
  color: #0f5e36;
  font-size: 0.875em;
  background-color: white;
  padding: 0.5em 1em;
}
