.postJob {
  padding-block: 3rem;
}

.postJob img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.postJob__container {
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

.postJob__left {
  flex: 0.3;
}

.postJob__left__top {
  margin-bottom: 2rem;
  max-width: 200px;
  text-align: center;
}

.postJob__left__top__desc {
  text-align: center;
  margin-left: -2.3rem;
  color: #0f5e36;
  font-weight: bold;
}

.postJob__left__top__desc > p > small {
  color: #a5a1a1;
  font-weight: 500;
}

.postJob__left__top p {
  margin-bottom: 0px;
  padding-left: 2.5rem;
}

.postJob__left__bottom p {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.postJob__left__bottom span {
  margin-top: -6px;
  font-size: 0.8rem;
  font-weight: bold;
  color: #0f5e36;
}

.postJob__right {
  flex: 0.7;
}

.postJob__right__title {
  padding: 6px 2rem;
  border: 1px solid #0f5e36;
  color: #0f5e36;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 2rem;
  font-weight: bold;
}

.postJob__right > button {
  padding: 9px 2rem;
  margin-top: 1rem;
  border-radius: 6px;
  color: white;
  background: #0f5e36;
  border: none;
}
.postJob__right > button:hover {
  background-color: white;
  color: #0f5e36;
  border: 1px solid #0f5e36;
}

.postJob__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
  padding-block: 0;
}

.postJob input,
.postJob textarea {
  padding: 14px 1rem;
  border-radius: 6px;
  border: 1px solid gray;
  outline: #0f5e36;
}

.dropdown__arrow {
  width: 35px;
  position: absolute;
  right: 10px;
  top: 4px;
}

.postJob label {
  color: #2e4238;
  font-size: 0.8rem;
  font-weight: bold;
}

.input__component {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 2rem;
  padding-inline: 1rem;
}

.postJob__check {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.postJob__check > p {
  font-size: 0.85rem;
  color: #a5a1a1;
}

@media screen and (max-width:750px ) {
  .postJob {
    padding: 1rem 0;
  }

  .postJob__left {
    display: none;
  }

  .postJob__container {
    display: block;
    padding: 0 3%;
  }

  .postJob__right {
    width: 100%;
  }

  .postJob__inputs {
    padding: 0;
    gap: 12px;
  }

  .postJob__right__title {
    margin-bottom: 1rem;
  }

  .input__component {
    margin-top: 1rem;
    padding-inline: 0;
  }
}

@media screen and (max-width: 520px) {
  .postJob__inputs {
    grid-template-columns: 1fr;
  }
}