.profile_card {
  display: grid;
  width: 50%;
  grid-template-columns: 25% 75%;
  align-items: center;
  padding: 2% 1%;
}
.profile_card_right {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1000px) {
  .profile_card {
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .profile_card {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
  }
}
